@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #160430;
}

.main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-logo {
    width: 60%;
    height: 100vh;
    background-image: url(../img/Background\ Image.png);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    width: 100%;
    height: 100px;
    padding-left: 50px;
    padding-top: 30px;
}

.logo {
    width: 145px;
    height: 45px;
}

.container-logo h1 {
    font-size: 50px;
    font-weight: bold;
    color: white;
    margin-left: 60px;
    margin-bottom: 30px;
    text-transform: uppercase;
    line-height: 50px;
}

.container-logo h1 span {
    color:#501794;
}

/* segunda parte */

.container-form {
    width: 40%;
    height: 100vh;
    padding: 0px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-form h2 {
    font-size: 70px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.container-form h4 {
    margin-top: 16px;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.container-form form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.container-form form input {
    width: 100%;
    height: 60px;
    padding: 0px 10px;
    border-radius: 10px;
    color: #A4A4A4;
    background-color: #261046;
    outline: none;
    border: none;
    margin-top: 16px;
    font-size: 16px;
}

.container-form form .sign-in {
    width: 100%;
    height: 60px;
    border: none;
    outline: none;
    border-radius: 18px;
    font-size: 22px;
    color: white;
    background: linear-gradient(#501794, #3E70A1);
    cursor: pointer;
    transition: 2s ease;
}

.container-form form .sign-in:hover {
    background: linear-gradient(#3E70A1, #501794);
}

.container-form .linha {
    width: 100%;
    border: 1px solid white;
    margin-top: 40px;
}

.container-form .Or {
    margin-top: 40px;
    font-size: 12px;
    color: #B6B6B6;
}

.container-form .buttons {
    width: 100%;
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container-form .buttons button {
    width: 100%;
    height: 45px;
    border-radius: 10px;
    color: white;
    background-color: #3B2063;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 300;
    gap: 5px;
    cursor: pointer;
    transition: .2s ease;
}

.container-form .buttons button:hover {
    width: 90%;
    height: 40px;
}

.container-form .buttons button img {
    width: 18px;
    height: 18px;
}

.container-form .by {
    width: 100%;
    left: 0;
    font-size: 12px;
    color: #B6B6B6;
    margin-top: 20px;
    font-weight: 500;
}

.container-form .by a {
    color: #9D5CE9;
    text-decoration: none;
}

/* responsividade */

@media (max-width: 768px) {
    .container-form h2 {
        font-size: 40px;
    }

    .container-form h4 {
        font-size: 10px;
    }

    .container-form form input {
        height: 50px;
        font-size: 10px;
    }

    .container-form form .sign-in {
        height: 50px;
        font-size: 18px;
    }

    .container-form .Or {
        font-size: 10px;
    }

    .container-form .buttons button {
        height: 35px;
        font-size: 10px;
    }

    .container-form .buttons button img {
        width: 15px;
        height: 15px;
    }

    .container-form .by {
        font-size: 10px;
    }
}

@media (max-width: 450px) {
    .container-logo {
        width: 50%;
        align-items: center;
    }

    .container-logo h1 {
        font-size: 30px;
        margin-left: 0;
        margin-bottom: 30px;
        line-height: 30px;
        text-align: center;
    }

    header {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .container-form {
        width: 50%;
        padding: 0 10px;
    }
}

@media (max-width: 380px) {
    .container-logo h1 {
        font-size: 20px;
    }
}
